SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_app_password
SMTP_USE_TLS=True

FRAUD_TEAM_EMAIL=fraud_team@example.com
NOTIFICATION_EMAIL=notifications@example.com

DB_PATH=./database/deriv_db.sqlite 